.advantages {
  margin-bottom: 46px;
  
  @media (min-width: 768px) {
    margin-bottom: 52px;
  }
  
  @media (min-width: 1300px) {
    margin-bottom: 20px;
  }
}

.advantages__title {
  margin-bottom: 15px;
  
  @media (min-width: 768px) {
    margin-bottom: 58px;
  }
  
  @media (min-width: 1300px) {
    padding-top: 26px;
  }
}

.advantages__list {
  padding-top: 15px;
  
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  position: relative;
  padding-left: 80px;
  margin-bottom: 26px;
  
  &:last-child {
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    width: 35%;
    padding-left: 0;
    padding-top: 112px;
    padding-bottom: 20px;
    margin-bottom: 83px;
    margin-right: 136px;
    
    &:nth-child(2n) {
      margin-right: 0;
    }
    
    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
    
    &::after {
      position: absolute;
      right: 0;
      top: 89px;
      font-size: 281.07px;
      color: #f2f2f2;
      z-index: -1;
    }
    
    &--leaf::after {
      content: "1";
      right: 17px;
    }

    &--powder::after {
      content: "2";
    }

    &--dinning::after {
      content: "3";
    }

    &--clock::after {
      content: "4";
    }
  }
  
  @media (min-width: 1300px) {
    width: 20%;
    margin-right: 81px;
    margin-bottom: 0;
    
    &:nth-child(2n) {
      margin-right: 81px;
    }
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  &::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    
    @media (min-width: 768px) {
      top: 0;
      width: 80px;
      height: 80px;
    }
  }
  
  &--leaf::before {
    background-image: url(../images/advantage-leaf@1x.png);
  }
    
  &--powder::before {
    background-image: url(../images/advantage-powder@1x.png);
  }
    
  &--dinning::before {
    background-image: url(../images/advantage-dining@1x.png);
  }
    
  &--clock::before {
    background-image: url(../images/advantage-clock@1x.png);
  }
    
  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
    &--leaf::before {
      background-image: url(../images/advantage-leaf@2x.png);
    }

    &--powder::before {
      background-image: url(../images/advantage-powder@2x.png);
    }

    &--dinning::before {
      background-image: url(../images/advantage-dining@2x.png);
    }

    &--clock::before {
      background-image: url(../images/advantage-clock@2x.png);
    }
  }
}

.advantages__text {
  font-family: "Arial", sans-serif;
  
  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}