.categories {
  margin-bottom: 18px;
  
  @media (min-width: 768px) {
    margin-bottom: 47px;
  }
}

.categories__list {
  @media (min-width: 1300px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.categories__subtitle {
  margin-bottom: 29px;
  padding-left: 91px;
  line-height: 37.02px;
  text-transform: uppercase;
  
  @media (min-width: 768px) {
    padding-left: 0;
    margin-bottom: 25px;
  }
  
  @media (min-width: 1300px) {
    margin-bottom: 74px;
    padding-left: 202px;
  }
}

.categories__link {
  margin-right: auto;
  margin-bottom: 21px;
  padding-right: 30px;
  position: relative;
  line-height: 16px;
  font-size: 16px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  
  &::before {
    content: "";
    display: block;
    position: absolute;
    right: -5px;
    top: 3px;
    width: 24px;
    height: 11px;
    background-image: url(../../images/icon-right-arrow-long.svg);
    background-repeat: no-repeat;
  }
  
  &:hover,
  &:focus {
    &::before {
      background-image: url(../../images/icon-right-arrow-verylong.svg);
      width: 32px;
      right: -13px;
      transition: 0.3s ease-out;
    }
  }
  
  &:active {
    opacity: 0.3;
  }
  
  @media (min-width: 768px) {
    line-height: 20px;
    font-size: 20px;
    padding-right: 44px;
  }
  
  @media (min-width: 1300px) {
    margin-bottom: 24px;
  }
}

.categories__text {
  padding-bottom: 22px;
  margin-bottom: 19px;
  font-family: "Arial", sans-serif;
  border-bottom: 1px solid #d9d9d9;
  
  @media (min-width: 768px) {
    margin-bottom: 34px;
    padding-right: 295px;
    border: none;
  }
  
  @media (min-width: 1300px) {
    padding-right: 5px;
    margin-bottom: 9px;
  }
}

.categories__item {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 21px;
  padding: 0 20px;
  padding-top: 30px;
  background-color: #f2f2f2;
  
  &:last-child {
    margin-bottom: 0;
  }
  
  @media (min-width: 768px) {
    padding-top: 77px;
    padding-left: 52px;
    padding-bottom: 38px;
    
    &:first-child {
      margin-bottom: 32px;
    }
  }
  
  @media (min-width: 1300px) {
    width: 46.8%;
    padding-top: 76px;
    
    &:first-child {
      margin-bottom: 0;
    }
  }
}

.categories__item::before {
  content: "";
  display: block;
  position: absolute;
  left: 22px;
  top: 24px;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  
  @media (min-width: 768px) {
    width: 200px;
    height: 200px;
    left: auto;
    right: 62px;
    top: 92px;
  }
  
  @media (min-width: 1300px) {
    right: auto;
    left: 52px;
    top: 47px;
    width: 100px;
    height: 100px;
  }
}

.categories__item--slim::after {
  content: "";
  display: block;
  position: absolute;
  left: 30px;
  top: 22px;
  width: 35px;
  height: 49px;
  background-image: url(../../images/icon-cat-slim.svg);
  
  @media (min-width: 768px) {
    width: 140px;
    height: 194px;
    left: auto;
    right: 92px;
    top: 80px;
  }
  
  @media (min-width: 1300px) {
    right: auto;
    left: 66px;
    top: 41px;
    width: 70px;
    height: 97px;
  }
}

.categories__item--pro::after {
  content: "";
  display: block;
  position: absolute;
  left: 13px;
  top: 36px;
  width: 67px;
  height: 28px;
  background-image: url(../../images/icon-cat-pro.svg);
  
  @media (min-width: 768px) {
    width: 268px;
    height: 112px;
    left: auto;
    right: 28px;
    top: 135px;
  }
  
  @media (min-width: 1300px) {
    right: auto;
    left: 35px;
    top: 69px;
    width: 134px;
    height: 56px;
  }
}