.demo {
  background-color: #f2f2f2;
}

.demo__title {
  font-weight: 400;
  line-height: 60px;
  font-size: 36px;
}

.demo__stats-list {
  .reset-list;
}

.demo__stats-value {
  line-height: 24px;
  font-size: 24px;
}

.demo__stats-subtitle {
  line-height: 12px;
  font-size: 12px;
}

.demo__stats-text {
  line-height: 20px;
  text-transform: uppercase;
}

.demo__text {
	font-family: "Arial", sans-serif;
}