.footer-copyright {
	display: flex;
  justify-content: space-between;
}

.footer-copyright__text {
  font-family: "Arial", sans-serif;
  line-height: 16px;
  font-size: 16px;
  font-weight: 400;
}

.footer-social__list {
  .reset-list;
  
  display: flex;
}

.footer-logo__img {
	width: 127.8px;
  height: 23.4px;
}