.gift {
  background: url(../../images/gift-photo-mobile@1x.jpg) center no-repeat;
  background-size: cover;
  
  @media (min-resolution: 144dpi),
    (min-resolution: 1.5dppx) {
      background: url(../../images/gift-photo-mobile@2x.jpg) center no-repeat;
  }
  
  @media (min-width: 768px) {
    background: url(../../images/gift-photo-tablet@1x.jpg) center 65% no-repeat;
  
    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
        background: url(../../images/gift-photo-tablet@2x.jpg) center 65% no-repeat;
    }
  }
  
  @media (min-width: 1300px) {
    padding-top: 65px;
    width: 20.1%;
    
    background: url(../../images/gift-photo-desktop@1x.jpg) center 0 no-repeat;
  
    @media (min-resolution: 144dpi),
      (min-resolution: 1.5dppx) {
        background: url(../../images/gift-photo-desktop@2x.jpg) center 0 no-repeat;
    }
  }
}

.gift__wrapper {
  padding-top: 65px;
  padding-bottom: 42px;
  
  @media (min-width: 768px) {
    padding-top: 61px;
    padding-left: 91px;
    padding-right: 124px;
    padding-bottom: 68px;
    display: flex;
    justify-content: space-between;
  }
  
  @media (min-width: 1300px) {
    padding: 0;
    flex-direction: column;
    align-items: center;
  }
}

.gift__text {
  font-family: "Arial", sans-serif;
  line-height: 20px;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  
  @media (min-width: 768px) {
    padding-top: 11px;
    text-align: left;
  }
  
  @media (min-width: 1300px) {
    text-align: center;
  }
}

.gift__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 62px;
  
  @media (min-width: 768px) {
    margin: 0;
  }
  
  @media (min-width: 1300px) {
    margin-bottom: 52px;
  }
}