.goods {
  @media (min-width: 1300px) {
    display: flex;
  }
}

.goods__wrapper {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between
  }
  
  @media (min-width: 1300px) {
    width: 100%;
  }
}

.goods__name {
  font-weight: 400;
  line-height: 16px;
  font-size: 16px;
  text-transform: uppercase;
}

.goods__info {
  .reset-list;
  
  display: flex;
  justify-content: space-between;
}

.goods__field,
.goods__value {
  font-family: "Arial", sans-serif;
  line-height: 14px;
  font-size: 14px;
}

.goods__button {
	background-color: #68b738;
  
  @media (min-width: 768px) {
    width: 100%;
  }
  
  @media (min-width: 1300px) {
    width: 20%;
  }
}