.intro {
  color: #ffffff;
  background: url(../images/index-background-mobile.jpg) center 100%  no-repeat;
  background-size: cover;
}

.intro__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.intro__slogan,
.intro__button {
  line-height: 14px;
  text-transform: uppercase;
}

.intro__button {
  font-size: 14px;
  line-height: 18px;
  background-color: #68b738;
}