.main-nav__list {
  .reset-list;
  
  @media (min-width: 768px) {
    display: flex;
  }
}

.main-nav__link {
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #111111;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}