.page-header {
  padding: 0 20px;
  
  @media (min-width: 768px){
    display: flex;
    justify-content: space-between;
  }
}

.page-header__toggle {
  @media (min-width: 768px) {
    display: none;
  }
}