.page-header {
  padding: 0 20px;
  
  @media (min-width: 768px){
    display: flex;
    justify-content: space-between;
  }
}

.page-header__toggle {
  @media (min-width: 768px) {
    display: none;
  }
}

.page-header__logo {
	width: 33.3px;
  height: 37.6px;
  
  @media (min-width: 768px){
    width: 172.3px;
    height: 57.1px;
  }
  
  @media (min-width: 1300px){
    width: 202px;
    height: 59.5px;
  }
}

.page-header__title-img {
  width: 101px;
  height: 19px;
}

.page-header__title-link {
  @media (min-width: 768px) {
    display: none;
  }
}