.slider__button {
  color: #111111;
  background-color: inherit;
  
  @media (min-width: 768px) {
    width: auto;
  }
}

.slider__buttons {
  @media (min-width: 768px) {
    display: flex;
    justify-content: center;
  }
}